body {
    text-align: center;
    background-color: lightslategrey;
    font-family: 'Permanent Marker', cursive;
    /* background-image: url('../images/hubbleUniverse.png'); */
    /* background-size: cover; */
    
}

.navbar {
    margin: 25px;
}

.navbar-logo {
    color: #007bff;
    padding-right: 25px;
    font-size: 3rem;
}

.startButton {
    margin: 10px;
}

.reStartButton {
    margin: 10px;
}

.howToPlayButton {
    margin: 10px;
}

.gamePlay {
    padding-left: 18%;
}

.game-column {
    display: inline-block;
}

.square {
    height: 30px;
    width: 30px;
    background-color: skyblue;
    /* margin: 1px; */
}

.square-1-1, .square-2-1, .square-3-1, .square-4-1, .square-5-1, .square-6-1, .square-7-1, .square-8-1, .square-9-1, .square-10-1, .square-11-1, .square-12-1, .square-13-1, .square-14-1, .square-15-1  {
    background-image: url('../images/tree.png');
}

.landingPad {
    background-image: url('../images/target.png');
    background-repeat: no-repeat;
    background-position: center;
}

#lander {
    background-image: url('../images/skydiver.png');
    background-repeat: no-repeat;
    background-position: center;
}

.obstacle {
    background-image: url('../images/cloud.png');
    background-repeat: no-repeat;
    background-position: center;
}

#timer {
    color: orangered;
    font-style: bold;
    margin-left: 50px;
    font-size: 30px;
}

#sun {
    background-image: url('../images/sun.png');
    background-repeat: no-repeat;
    background-position: center;
}

.modalGifs {
    width: 275px;
    height: 175px;
}

